@page "/database"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject HttpClient Http
@inject NavigationManager NavMan
@inject IWebAssemblyHostEnvironment Env;

<div class="container-fluid p-0 m-0">
	<div class="row w-100 d-inline-flex mb-2" style="background-color:navy">
		<div class="col-sm-11 d-flex justify-content-center" style="padding-top:0.6em">
			<h3 style="color:white">Database Demo - All data is fictitious (Records:&nbsp;@RowIndex.ToString()) &nbsp;</h3>
		</div>
		<div class="col-sm-1 d-flex justify-content-end" style="padding-top:0.7em">
			<button class="btn-link" style="background-color:transparent;border-color:transparent"
					@onclick=HelpClick>
				<sup><i class="bi bi-info-circle" style="font-size: 2rem; color: white;"></i></sup>
			</button>
		</div>
	</div>
	<div class="row w-100 d-inline-flex mb-2" style="background-color:navy">
		<div class="col align-middle d-sm-inline-flex w-100 d-flex justify-content-center border-bottom p-1" style="height:auto;background-color:gainsboro">
			<sup style="margin-top:4px">
				<i class="bi bi-info-circle ps-2 h5"
				   style="color:blue; font-weight: bold; cursor:grab"
				   @onclick="() => InfoClick()">
				</i>
			</sup>
			&nbsp;&nbsp;
			<SearchBox SearchQueryChanged="ValueChanged" SearchQuery=@Filter />
		</div>
	</div>
	@if (SearchParamError.Length > 0)
	{
		<div class="alert alert-danger alert-dismissible mt-2" role="alert" style="height:auto;color:black;font-weight:700;">
			<span class="oi oi-warning" style="font-size:1.5em;color:red" aria-hidden="true"></span>
			&nbsp;@SearchParamError.ToString()
		</div>
	}
	<!--Modals-->
	@if (ErrorDLogVisible)
	{
		<ModalDialogError Message=@ErrorDlogMessage
						  DlogSize=@ErrorDLogSize
						  OnClose=@ErrorModalClose>
		</ModalDialogError>
	}
	@if (OKDLogVisible)
	{
		<ModalDialogOK Message=@OKDlogMessage
					   DlogSize=@OKDLogSize
					   OnClose=@OKDlogClose>
		</ModalDialogOK>
	}
	@if (DeleteDLogVisible)
	{
		<ModalDialogDelete Message=@DeleteDlogMessage
						   TargetId=@DeleteID
						   DLogSize=@ErrorDLogSize
						   OnDelete=@DeleteResponse>
		</ModalDialogDelete>
	}

	@if (ShowOffCanvasEdit)
	{
		<div id="personModal" class="modal" tabindex="-1" style="display:block" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<EditForm id="personForm" Model="@SelectedPerson" OnSubmit="@OnSubmitPerson">
						<DataAnnotationsValidator />

						<div class="modal-header" style="background-color:azure;height:1.5cm">
							<h3 class="modal-title">@ModalTitleCaption</h3>
							<button class="btn p-0 shadow-none border-0" type="button" aria-label="Close"
									@onclick="PersonModalCloseClick">
								<span aria-hidden="true"><h2>&times;</h2></span>
							</button>
						</div>

						<div class="modal-body" style="background-color:gainsboro">
							@if (PersonModalDangerMessage.Length > 0)
							{
								<div class="alert alert-danger" role="alert">
									@PersonModalDangerMessage;
								</div>
							}
							<label class="control-label mt-2" for="selectedPersonTitle">Title (Mr, Mrs, Ms or Not Stated)</label>
							<InputSelect class="form-select" id="selectedPersonTitle" @bind-Value="SelectedPerson.Title">
								<option value="">@Globals.SelectDotDotDot</option>
								<option value="Mr">Mr</option>
								<option value="Mrs">Mrs</option>
								<option value="Ms">Ms</option>
								<option value="@Globals.NotStated">@Globals.NotStated</option>
							</InputSelect>
							<ValidationMessage For="@(() => SelectedPerson.Title)" />

							<label class="control-label mt-2" for="lastName">Last Name</label>
							<InputText id="lastName" class="form-control" @bind-Value="SelectedPerson.LastName" />
							<ValidationMessage For="@(() => SelectedPerson.LastName)" />

							<label class="control-label mt-2" for="middleName">Middle Name (Optional)</label>
							<InputText id="middleName" class="form-control" @bind-Value="SelectedPerson.MiddleName" />

							<label class="control-label mt-2" for="firstName">First Name</label>
							<InputText id="firstName" class="form-control" @bind-Value="SelectedPerson.FirstName" />
							<ValidationMessage For="@(() => SelectedPerson.FirstName)" />

							<label class="control-label mt-2" for="gender">Gender (M, F or Not Stated)</label>
							<InputSelect class="form-select" id="gender" @bind-Value="SelectedPerson.Gender">
								<option value="">@Globals.SelectDotDotDot</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value=@Globals.NotStated>@Globals.NotStated</option>
							</InputSelect>
							<ValidationMessage For="@(() => SelectedPerson.Gender)" />

							<label class="control-label mt-2" for="companyName">Company Name</label>
							<InputText id="companyName" class="form-control" @bind-Value="SelectedPerson.CompanyName" />
							<ValidationMessage For="@(() => SelectedPerson.CompanyName)" />

							<label class="control-label mt-2" for="phone">Phone</label>
							<InputText id="phone" class="form-control" @bind-Value="SelectedPerson.Phone" />
							<ValidationMessage For="@(() => SelectedPerson.Phone)" />

							<label class="control-label mt-2" for="emailAddress">Email Address</label>
							<InputText id="emailAddress" class="form-control" @bind-Value="SelectedPerson.EmailAddress" />
							<ValidationMessage For="@(() => SelectedPerson.EmailAddress)" />

							@if (SelectedPerson.Id == Guid.Empty)
							{
									<p>After clicking the Save button, the new person will appear at the top of the list</p>
							}
							else
							{
								<br />
								<p> Modified Date:<br />@SelectedPerson.ModifiedDate.ToString("HH:mm ddd dd MMM yyyy")</p>
								<p> ID:<br />@SelectedPerson.Id.ToString()</p>
							}

						</div>
						<div class="modal-footer" style="background-color:silver">
							<div class="col d-flex justify-content-start">
								<button type="submit" class="btn btn-success">
									Save
								</button>
							</div>
							<div class="col d-flex justify-content-end">
								<button type="button" class="btn alert-primary"
										@onclick="HidePersonModalClick">
									Cancel
								</button>
							</div>
						</div>
					</EditForm>
				</div>
			</div>
		</div>
	}
	@if (ShowHelpModal)
	{
		<div class="modal" tabindex="-1" style="display:block;" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header" style="background-color:Navy;color:white">
						<h3 class="modal-title">
							Help
						</h3>
					</div>
					<div class="modal-body">
						<h4>Alternative Display of Help</h4>
						<p>
							By placing a <i class="bi bi-info-circle"></i> button close to the search box, the user is given a context cue that help is offered when searching
						</p>
						<p>
							The main help will be found by clicking the <i class="bi bi-info-circle"></i> button in the blue band - top right.
						</p>
						<p>
							This help-variation is an option that could be used where important guidance needs to be repeated.
						</p>
					</div>
					<div class="modal-footer" style="background-color:gainsboro">
						<button type="button" class="btn btn-primary"
								@onclick="HideHelpModalClick">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
	}
	@if (IsLoading)
	{
		<div style="left:50%; top:50%; margin-left-4em; display: block; position: fixed;z-index: 1031">
			<img src=@("/ajax-loader.gif") />
		</div>
	}

	<!--Table-->
	<table class="table table-striped table-responsive w-100 d-block d-md-table">
		<thead class="thead-dark sticky-top">
			<tr class="row" style="display:none;">
				@(RowIndex = 0)
			</tr>
			<tr>
				<th></th>
				<th style="text-align:left" scope="col">
					<button class="btn btn-success" type="button"
							data-toggle="tooltip" data-placement="top" title="After saving the new record, it will appear at the top of this list"
							style="width:5em" @onclick="() => EditOrNewClick(Guid.Empty)">
						<!--Empty guid signals new record-->
						New
					</button>
				</th>
				<th style="text-align:center" scope="col">ID</th>
				<th style="text-align:center" scope="col">Company Name</th>
				<th style="text-align:center" scope="col">Name, Last, First and Middle</th>
				<th style="text-align:center" scope="col">Gender</th>
				<th style="text-align:center" scope="col">Title</th>
				<th style="text-align:center" scope="col">Phone</th>
				<th style="text-align:center" scope="col">Email</th>
				<th style="text-align:center" scope="col">Date Modified</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Person person in FilteredList)
			{
				// Skips the rest of the statements and continues with the next iteration of the loop.
				if (!IsVisible(Filter, person.SearchTerms)) continue;
				<tr>
					<td class="align-middle" style="width:1em">
						@(++RowIndex)
					</td>
					<td>
						<button class="btn btn-primary" type="button" @onclick="() => EditOrNewClick(person.Id)"
								style="width:5em">
							Edit <!--presence of person.Id signals an edit operation-->
						</button>
					</td>
					<td>@person.Id.ToString()</td>
					<td>@person.CompanyName</td>
					<td><strong>@person.FullName()</strong></td>
					<td style="text-align:center">@person.Gender</td>
					<td style="text-align:center">@person.Title</td>
					<td>@person.Phone</td>
					<td><a href="mailto:@person.EmailAddress.ToString()">@person.EmailAddress</a></td>
					<td style="text-align:center">@person.ModifiedDate.ToString("dd MMM yyyy")</td>
					<td style="text-align:center">
						<button class="btn btn-danger" type="button" @onclick="() => DeleteClick(person.Id.ToString())"
								style="width:5em">
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<!--Nav to top button-->
	<div class="mt-4">
		<a class="btn btn-sm btn-info" href="javascript: document.body.scrollIntoView(true);"><i class="bi bi-arrow-up"></i>Back to Top</a>
	</div>
	<!--Edit Person modal @ShowEdit controls visibility-->
	<div class="offcanvas offcanvas-start @ShowEdit" tabindex="-1" id="offcanvasEdit"
		 aria-labelledby="offcanvasEditLabel"
		 aria-modal="true" role="dialog" style="visibility: visible;background-color:gainsboro">
		<div class="offcanvas-body">
			<EditForm id="personForm" Model="@SelectedPerson" OnSubmit="@OnSubmitPerson">
				<DataAnnotationsValidator />

				<div class="modal-header p-2" style="background-color:azure;height:1.5cm">
					<h3 class="modal-title">@ModalTitleCaption</h3>
					<button class="btn p-0 shadow-none border-0" type="button" aria-label="Close"
							@onclick="HideEditClick">
						<span aria-hidden="true"><h2>&times;</h2></span>
					</button>
				</div>

				<div class="modal-body" style="background-color:gainsboro">
					@if (PersonModalDangerMessage.Length > 0)
					{
						<div class="alert alert-danger" role="alert">
							@PersonModalDangerMessage;
						</div>
					}
					<label class="control-label mt-2" for="selectedPersonTitle">Title (Mr, Mrs, Ms or Not Stated)</label>
					<InputSelect class="form-select" id="selectedPersonTitle" @bind-Value="SelectedPerson.Title">
						<option value="">@Globals.SelectDotDotDot</option>
						<option value="Mr">Mr</option>
						<option value="Mrs">Mrs</option>
						<option value="Ms">Ms</option>
						<option value="@Globals.NotStated">@Globals.NotStated</option>
					</InputSelect>
					<ValidationMessage For="@(() => SelectedPerson.Title)" />

					<label class="control-label mt-2" for="lastName">Last Name</label>
					<InputText id="lastName" class="form-control" @bind-Value="SelectedPerson.LastName" />
					<ValidationMessage For="@(() => SelectedPerson.LastName)" />

					<label class="control-label mt-2" for="middleName">Middle Name (Optional)</label>
					<InputText id="middleName" class="form-control" @bind-Value="SelectedPerson.MiddleName" />

					<label class="control-label mt-2" for="firstName">First Name</label>
					<InputText id="firstName" class="form-control" @bind-Value="SelectedPerson.FirstName" />
					<ValidationMessage For="@(() => SelectedPerson.FirstName)" />

					<label class="control-label mt-2" for="gender">Gender (M, F or Not Stated)</label>
					<InputSelect class="form-select" id="gender" @bind-Value="SelectedPerson.Gender">
						<option value="">@Globals.SelectDotDotDot</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value=@Globals.NotStated>@Globals.NotStated</option>
					</InputSelect>
					<ValidationMessage For="@(() => SelectedPerson.Gender)" />

					<label class="control-label mt-2" for="companyName">Company Name</label>
					<InputText id="companyName" class="form-control" @bind-Value="SelectedPerson.CompanyName" />
					<ValidationMessage For="@(() => SelectedPerson.CompanyName)" />

					<label class="control-label mt-2" for="phone">Phone</label>
					<InputText id="phone" class="form-control" @bind-Value="SelectedPerson.Phone" />
					<ValidationMessage For="@(() => SelectedPerson.Phone)" />

					<label class="control-label mt-2" for="emailAddress">Email Address</label>
					<InputText id="emailAddress" class="form-control" @bind-Value="SelectedPerson.EmailAddress" />
					<ValidationMessage For="@(() => SelectedPerson.EmailAddress)" />

					@if (SelectedPerson.Id == Guid.Empty)
					{
						<label class="control-label mt-2">After clicking the Save button, the new person will appear at the top of the list</label>
					}
					else
					{
						<br />
						<p> Modified Date:<br />@SelectedPerson.ModifiedDate.ToString("HH:mm ddd dd MMM yyyy")</p>
						<p> ID:<br />@SelectedPerson.Id.ToString()</p>
					}
				</div>
				<div class="row p-2" style="background-color:azure">
					<button type="submit" class="btn btn-primary" style="width:5em">Save</button>
				</div>
			</EditForm>
		</div>
	</div>

	<!--Help-->
	<div class="offcanvas offcanvas-end @ShowHelp" tabindex="-1" id="offcanvasExample"
		 aria-labelledby="offcanvasExampleLabel"
		 aria-modal="true" role="dialog" style="visibility: visible;background-color:gainsboro">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasExampleLabel">Database Help</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" @onclick=HideHelpClick></button>
		</div>
		<div class="offcanvas-body">
			<div>
				<h5>
					Search
				</h5>
				<p>
					Entering a few characters into the search box will result in the list of people being filtered to records that contain the
					phrase anywhere within the each.  The search is not case sensitive.  If you paste in a string, be careful you don't include a trailing space.
				</p>
				<h5>Limits to Editing</h5>
				<p>
					Although the Save button implies that you will be changing and saving a record, the changes only last until you close the page.  In a real system these changes would be written back to a web database.
				</p>
				<h5>Intuitive Design</h5>
				<p>
					Our experience shows that staff take to this sort of filter-and-find functionality immediately.
				</p>
				<p>
					Strangely enough, being able to find someone using the first
					three or four digits of their ID turns out to be the preferred method of searching.
				</p>
				<h5>Reduced Training</h5>
				<p>
					Training is the oil of efficiency and should always accompany the
					introduction of a new system.  Covid-19 has shown that
					remote-working is a pragmatic option in a digital society.
					As long as the system uses a consistent design and does not crowd
					forms with buttons galore, intuitive forms like this minise time spent training.
				</p>
				<h5>Accuracy and Immediate Communication</h5>
				<p>
					Being able to correct or bring up-to-date a person's record at the
					touch of a button means that staff can effortlessly keep data in step with reality.
				<p>
					If you have a digital telephone system it might be possible to design the telephone number as a hyperlink which will connect to that number.
					(You may need a licence for this sort of functionality - speak to your telepone service provider).
				</p>
				<p>
					Sending an email by clicking an email address enhances a company's reputation for responsiveness.
					If you are using Outlook, a click with bring up an email with the email address inserted - try it!
				</p>
				<p>
					It is possible to send bulk emails; if you send less than 25,000 a month. they cost nothing
				</p>
				</p>
				<h5>Advantages of Fast Lookup</h5>
				<p>
					At the end of the page there are some notes about the advantages of fast look up.<a class="btn btn-sm btn-outline-info ml-2" href="javascript: document.body.scrollIntoView(false);"><i class="fas fa-arrow-down"></i></a>
				</p>
			</div>
		</div>
	</div>
</div>
@code {
	JsonBlobService jsonBlobService = new();
	bool IsLoading = true;

	string PersonModalDangerMessage = "";
	bool ShowOffCanvasEdit { get; set; } = false;
	string? ModalTitleCaption { get; set; }

	bool ShowHelpModal = false;

	int RowIndex { get; set; }

	List<Person> PersonList = new(); // All the records.  This list is never deleted from
	List<Person> FilteredList = new();

	static string Json { get; set; } = string.Empty;

	string? Filter { get; set; } = string.Empty;

	string SearchParamError = string.Empty;
	Person SelectedPerson { get; set; } = new();

	string ShowHelp { get; set; } = "";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			IsLoading = true;
			string jsonFile = string.Empty;
			HttpClient client = new();
			HttpResponseMessage response = new();
			List<Person> personList = new();

			if (Env.IsDevelopment())
			{
				response = await client.GetAsync("http://localhost:7071/api/Filename?filename=People.json");
			}
			else
			{
				// https://rbsstoragev2.z35.web.core.windows.net/
				response = await client.GetAsync("https://rbsstoragev2.z35.web.core.windows.net/api/Filename?filename=People.json");
			}
			if (response.IsSuccessStatusCode)
			{
				PersonList = await response.Content.ReadFromJsonAsync<List<Person>>();
				FilteredList = PersonList.ToList();
				IsLoading = false;
			}
			else
			{
				OKDlogCaption = "";
				OKDlogMessage = "Reponse from https://rbsstoragev2.z35.web.core.windows.net/" +
				" failed, Status code: " + response.StatusCode.ToString();
				OKDLogSize = "sm";
				OKDLogVisible = true;
			}
		}
		catch (Exception ex)
		{
			IsLoading = false;
			ErrorDlogMessage = "OnInitializedAsync - Exception: " + ex.Message;
			ErrorDLogSize = Globals.DLogSizeSmall;
			ErrorDLogVisible = true;
			return;
		}
	}

	private bool IsVisible(string SearchTerm, string SearchString)
	{
		try
		{
			//Shows rows that have filter text
			if (string.IsNullOrEmpty(SearchTerm))
			{
				return true;
			}
			if (SearchString.ToLower().Contains(SearchTerm, StringComparison.OrdinalIgnoreCase))
			{
				return true;
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine("IsVisible - Exception: " + ex.Message);
		}
		return false;
	}
	void EditOrNewClick()
	{
		ErrorDLogVisible = false;
		ShowHelpModal = true;
	}
	void HideHelpModalClick()
	{
		ShowHelpModal = false;
	}
	void EditOrNewClick(Guid id)  //Could be Edit or New Button
	{

		//ShowOffCanvasEdit = false;
		if (id == Guid.Empty) //This is a new record
		{
			SelectedPerson = new Person();
			SelectedPerson.ModifiedDate = Globals.GetUKDateTime();
			SelectedPerson.Id = Guid.Empty;  // Signals that this record must be saved
			ModalTitleCaption = "New Person";
		}
		else
		{
			ModalTitleCaption = "Edit Person";
			Person? person = PersonList.FirstOrDefault(p => p.Id == id);
			if (person == null)
			{
				ErrorDlogMessage = "Can't find person record with the ID: " + id.ToString() + " in the list";
				ErrorDLogSize = Globals.DLogSizeSmall;
				ErrorDLogVisible = true;
				return;
			}
			SelectedPerson = person;
		}
		//ShowOffCanvasEdit = true;
		ShowEdit = "show";

	}
	void OnSubmitPerson(EditContext context)
	{
		ErrorDLogVisible = false;
		ErrorDlogMessage = string.Empty;
		bool formIsValid = context.Validate();
		if (formIsValid)
		{
			PersonModalDangerMessage = string.Empty; // Message is triggered by having length > 0
		}
		else
		{
			PersonModalDangerMessage = "There are input errors, please check the form";
			return;
		}
		if (SelectedPerson.Title == Globals.SelectDotDotDot)
		{
			PersonModalDangerMessage = "Please select a title";
			return;
		}
		if (SelectedPerson.MiddleName == null)
		{
			SelectedPerson.MiddleName = string.Empty;
		}

		if (SelectedPerson.Id == Guid.Empty)// This is a new record
		{
			SelectedPerson.Id = Guid.NewGuid();
			// Prevent malign attacks
			if (FilteredList.Count < 1550) // 1500 in the json file, allow user to add 50 max
			{
				SelectedPerson.ModifiedDate = Globals.GetUKDateTime();
				SelectedPerson.SearchTerms = SelectedPerson.UpdateSearchTerms();
				FilteredList.Insert(0, SelectedPerson);
				HidePersonModalClick();
			}
			return;
		}
		// Find the record and update the search terms
		int index = FilteredList.FindIndex(x => x.Id == SelectedPerson.Id);
		if (index == -1)
		{
			ErrorDlogMessage = "Can't find person record with the ID: " + SelectedPerson.Id + " in the filtered list";
			ErrorDLogSize = Globals.DLogSizeSmall;
			ErrorDLogVisible = true;
			return;
		}
		SelectedPerson.ModifiedDate = Globals.GetUKDateTime();
		SelectedPerson.SearchTerms = SelectedPerson.UpdateSearchTerms();
		FilteredList[index] = SelectedPerson;
		ShowEdit = "";
		//HidePersonModalClick();
	}
	void HidePersonModalClick()
	{
		ShowOffCanvasEdit = false;
		PersonModalDangerMessage = string.Empty;
	}
	void DeleteClick(string id)
	{
		Person? person = FilteredList.Find(p => p.Id.ToString() == id);
		if (person == null)
		{
			ErrorDlogMessage = "Delete Clicked. Can't find person with ID: " + id + " in the filtered list";
			ErrorDLogSize = Globals.DLogSizeSmall;
			ErrorDLogVisible = true;
			return;
		}
		else
		{
			SelectedPerson = person;
			DeleteDlogCaption = "Caption";
			DeleteDlogMessage = "Do you want to permanently delete the record for " + person.FullName() + "?";
			DeleteDLogSize = Globals.DLogSizeSmall;
			DeleteID = person.Id.ToString();
			DeleteDLogVisible = true;
		}
	}
	void DeleteSelectedPerson(string id)
	{
		Person? person = FilteredList.SingleOrDefault(r => r.Id.ToString() == id);
		if (person == null)
		{
			DeleteDLogVisible = false;
			ErrorDlogMessage = "Delete Selected Person: Can't find selected person with ID: " + id;
			ErrorDLogSize = Globals.DLogSizeSmall;
			ErrorDLogVisible = true;
			return;
		}
		else
		{
			FilteredList.Remove(person);
			StateHasChanged();
		}
		DeleteDLogVisible = false;
	}
	void HelpClick()
	{
		ShowHelp = "show";
	}
	void HideHelpClick()
	{
		// Is the help panel showing?
		if (ShowHelp == "show")
		{
			ShowHelp = "";
		}
	}
	async Task Search(string searchTerm)
	{
		if (string.IsNullOrEmpty(searchTerm))
		{
			FilteredList.Clear();
			FilteredList = PersonList.ToList();
		}
		else
		{
			FilteredList = PersonList.FindAll(x => x.SearchTerms.ToLower().Contains(searchTerm.ToLower())).ToList();
		}
	}

	public async Task ValueChanged(string AmendedFilter)
	{
		Filter = AmendedFilter;
	}
	public async Task SetFilter()
	{
		Filter = string.Empty;
		ShowHelpModal = true;
	}
	void ClearFilterClick()
	{
		Filter = string.Empty;
		FilteredList.Clear();
		FilteredList = PersonList.ToList();
	}

	void InfoClick()
	{
		ShowHelpModal = true;
	}
	void PersonModalCloseClick()
	{
		ShowOffCanvasEdit = false;
	}

	#region  OKDialogRegion
	string? OKDlogCaption { get; set; }
	string OKDlogMessage = string.Empty;
	string OKDLogSize = string.Empty;
	public bool OKDLogVisible { get; set; } = false;

	void OKOnClick()
	{
		OKDlogCaption = "OK";
		OKDlogMessage = "Test message.";
		OKDLogSize = "sm";
		OKDLogVisible = true;
	}
	void OKDlogClose()
	{
		OKDLogVisible = false;
	}
	#endregion

	#region  ErrorDialogRegion
	bool ErrorDLogVisible = false;
	string ErrorDlogMessage = string.Empty;
	string ErrorDLogSize = string.Empty;

	void ErrorOnClick()
	{
		ErrorDlogMessage = "Vaughan Gething is set to be Wales' next first minister after narrowly winning the Welsh Labour leadership election with 51.7% of the vote. Mr Gething, who will become the first black person to lead Wales, beat his rival Jeremy Miles, who took 48.3%.";
		ErrorDLogSize = "sm";
		ErrorDLogVisible = true;
	}
	void ErrorModalClose()
	{
		ErrorDLogVisible = false;
	}
	#endregion

	#region  DeleteDialogRegion

	bool DeleteDLogVisible = false;
	string DeleteDlogCaption = string.Empty;
	string DeleteDlogMessage = string.Empty;
	string DeleteDLogSize = string.Empty;
	string DeleteID = string.Empty;
	void DeleteOnClick()
	{
		DeleteDlogCaption = "Delete?";
		DeleteDlogMessage = "Do you want to permanently delete the record for John DOA";
		DeleteDLogSize = "sm";
		DeleteID = Guid.NewGuid().ToString();
		DeleteDLogVisible = true;
	}
	void DeleteResponse(string Id)
	{
		DeleteDLogVisible = false;
		if (string.IsNullOrEmpty(Id))
		{
			return;
		}
		Person? person = FilteredList.SingleOrDefault(r => r.Id.ToString() == Id);
		if (person == null)
		{
			DeleteDLogVisible = false;
			ErrorDlogMessage = "Delete Selected Person: Can't find selected person with ID: " + Id +
				". Has the record been deleted by another user?";
			ErrorDLogSize = Globals.DLogSizeLarge;
			ErrorDLogVisible = true;
			return;
		}
		DeleteDLogVisible = false;
		FilteredList.Remove(person);
		//StateHasChanged();
	}
	#endregion

	#region  EditRegion
	string ShowEdit { get; set; } = "";
	void EditOnClick()
	{
		ShowEdit = "show";
	}
	void HideEditClick()
	{
		// Is the help panel showing?
		if (ShowEdit == "show")
		{
			ShowEdit = "";
		}
	}
	void SaveClick()
	{
		HideEditClick();
	}
	#endregion
}

